 
@using Service.Utility.Components

<div class="panel panel-flat no-border no-margin-bottom" id="Class_panel">
    <div class="panel-footer main-toolbar">
        <div class="heading-elements">
            <ul class="nav navbar-nav">
                @AppHelper.NavbarTools(new[] { "add", "reload" })
            </ul>
        </div>
    </div>
    <div class="apply-table"></div>
</div>
@BundleHelper.Generate(new List<BundleType>
    ()
    {
    BundleType.JqueryUi,
    BundleType.Select2
    })
    <script src="~/assets/js/web/Edutcation/Class.js"></script>
