@using Portal.Models
@using Service.Core.Components
@using Service.Utility.Components
@{
    var baseData = ViewData["BaseData"] as BaseData;
    var bg = baseData.Settings.GetValue("general", "login_bg");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="VlwHRdh-wzfUcWmmw11Xj9fj55dypOVJkPGTy7xKiok" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">
    @BundleHelper.Generate(new List<BundleType>()
    {
        BundleType.Wap
    })
    @*<link href="~/assets/css/customize.min.css" rel="stylesheet" />*@
</head>
<body class="login-container   login-page" style="background: url(@bg);"> 
    @RenderBody()
</body>
</html>