
<html>
<head>
    Access-Control-Allow-Origin: *
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="INDEX,FOLLOW" name="robots"/>
    <meta property="og:locale" content="vi_VN"/>
    <meta name="google-site-verification" content="dY3cu5mNJm6bDbKYGJSTIlA9xX1GU_p_fKkeh7XTWtA"/>
    <meta name="geo.region" content="VN"/>
    <meta name="geo.placename" content="Th&agrave;nh Phố Hồ Ch&iacute; Minh"/>
    <meta name="geo.position" content="10.795959;106.624583"/>
    <meta name="ICBM" content="10.795959, 106.624583"/>
    <meta name="msvalidate.01" content="10071C14BD94FDDBC92FA8762FE19041"/>

    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <header name="Access-Control-Allow-Origin" value="*" />
    <script src="~/assets/shared/js/jquery-2.1.4.min.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body class="fixed-nav @ViewBag.BodyClass">

    <div class="page-container">
        @RenderBody()
    </div>

</body>
</html>
