@using System.Globalization
@using DBContext.Core.Entities
@using Service.Utility.Components
@using Service.Core.Components
@using Service.Utility.Components
@{
	ViewBag.Title = "Email";
	var baseData = ViewData["BaseData"] as Web.Student.Models.BaseData;
	ViewBag.Title = "Email";
	var version = Session["Version"] as string;
	var tab = ViewData["Tab"] as string;
}

<div class="p-15">
	<div class="panel panel-body no-padding">
		<div class="tabbable">
			<ul class="nav nav-tabs nav-tabs-bottom no-margin-bottom" id="setting_navi">
				<li class="">
					<a href="/general/emails?tab=config" tab="config" class="text-bold">Cài đặt gửi email</a>
				</li>
				<li>
					<a href="/general/emails?tab=template" tab="template" class="text-bold">Email template</a>
				</li>

				<li>
					<a href="/general/emails?tab=task" tab="task" class="text-bold">Lịch sử gửi email</a>
				</li>
				<li>
					<a href="/general/emails?tab=testcauhinh" tab="testcauhinh" class="text-bold">Test cấu hình email</a>
				</li>
			</ul>

			<div class="tab-pane has-padding active no-padding">
				@Html.Partial("~/Views/Web/General/Partials/Email_" + tab + ".cshtml")
			</div>
		</div>
	</div>
	 
</div>
@BundleHelper.Generate(new List<BundleType>() {
	BundleType.Summernote
})
<script>
    var t = '@tab';
    $(document).ready(function() {
        $('#setting_navi a').each(function () {

            if ($(this).attr('tab') == t) {
                console.log($(this).attr('tab'));
                $(this).closest('li').addClass('active');
            }
        });
    });
</script> 