
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Web/Layouts/Signin.cshtml";
}

<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                
                <div class="panel panel-body login-form" style="width: 350px">
                    <div class="alert alert-info no-border"> 
                        Thông tin lấy lại mật khẩu đã được gửi đến email của Anh/Chị. Vui lòng kiểm tra email và làm theo hướng dẫn.
                        Nếu không tìm thấy email trong hộp thư Inbox, hãy kiểm tra hộp thư Spam.
                    </div>
                    <a href="/" class="btn btn-sm btn-primary " style="" >Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>