body {
  font-size: 14px;
  font-family: Arial, sans-serif; }
  body .text-bold {
    font-weight: 600; }
  body dt {
    font-weight: 500; }
  body thead {
    display: table-header-group; }
  body tfoot {
    display: table-row-group; }
  body tr {
    page-break-inside: avoid; }

.panel {
  box-shadow: none;
  border: none; }

@media (min-width: 0px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; } }
