body .border-right {
  border-color: #dadce0; }

body .org-chart-container {
  position: relative;
  overflow: auto; }
  body .org-chart-container.scale {
    position: absolute;
    top: 0;
    left: 0; }
  body .org-chart-container .toolbar {
    position: absolute;
    left: 15px;
    top: 15px; }
    body .org-chart-container .toolbar ul {
      padding: 0; }
      body .org-chart-container .toolbar ul li {
        display: inline-block;
        float: left;
        margin-right: 5px; }
  body .org-chart-container .overlay {
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
    position: absolute;
    background: #fff;
    text-align: center;
    padding-top: 10%; }
    body .org-chart-container .overlay .loader {
      margin: auto;
      width: 40px;
      height: 40px; }
      body .org-chart-container .overlay .loader .theme_radar {
        width: 40px;
        height: 40px; }
        body .org-chart-container .overlay .loader .theme_radar .pace_activity {
          border-top-color: #2196f3;
          border-bottom-color: #2196f3;
          width: 34px;
          height: 34px; }
  body .org-chart-container .org-item {
    position: absolute;
    width: 340px;
    height: 100px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    body .org-chart-container .org-item .panel {
      border-width: 3px 1px 0 1px;
      border-style: solid;
      border-radius: 20px;
      border-color: #78909C #78909C transparent #78909C;
      margin: 0;
      height: 97px;
      width: 250px;
      margin: auto; }
      body .org-chart-container .org-item .panel.color-01 {
        border-color: #ff5722 #ff5722 transparent #ff5722; }
        body .org-chart-container .org-item .panel.color-01.focus, body .org-chart-container .org-item .panel.color-01.active {
          background: #fbe9e7; }
      body .org-chart-container .org-item .panel.color-02 {
        border-color: #1e88e5 #1e88e5 transparent #1e88e5; }
        body .org-chart-container .org-item .panel.color-02.focus, body .org-chart-container .org-item .panel.color-02.active {
          background: #e3f2fd; }
      body .org-chart-container .org-item .panel.color-03 {
        border-color: #4caf50 #4caf50 transparent #4caf50; }
        body .org-chart-container .org-item .panel.color-03.focus, body .org-chart-container .org-item .panel.color-03.active {
          background: #e8f5e9; }
      body .org-chart-container .org-item .panel.color-04 {
        border-color: #ff9800 #ff9800 transparent #ff9800; }
        body .org-chart-container .org-item .panel.color-04.focus, body .org-chart-container .org-item .panel.color-04.active {
          background: #fff3e0; }
      body .org-chart-container .org-item .panel.color-05 {
        border-color: #00bcd4 #00bcd4 transparent #00bcd4; }
        body .org-chart-container .org-item .panel.color-05.focus, body .org-chart-container .org-item .panel.color-05.active {
          background: #e0f7fa; }
      body .org-chart-container .org-item .panel.color-06 {
        border-color: #00897b #00897b transparent #00897b; }
        body .org-chart-container .org-item .panel.color-06.focus, body .org-chart-container .org-item .panel.color-06.active {
          background: #e0f2f1; }
      body .org-chart-container .org-item .panel.color-07 {
        border-color: #8e24aa #8e24aa transparent #8e24aa; }
        body .org-chart-container .org-item .panel.color-07.focus, body .org-chart-container .org-item .panel.color-07.active {
          background: #f3e5f5; }
    body .org-chart-container .org-item .org-content {
      position: relative;
      width: 100%;
      height: 87px;
      display: block; }
      body .org-chart-container .org-item .org-content .media .media-left {
        padding-right: 15px; }
        body .org-chart-container .org-item .org-content .media .media-left a {
          display: block;
          width: 45px;
          height: 45px; }
          body .org-chart-container .org-item .org-content .media .media-left a img {
            width: 45px;
            height: 45px; }
      body .org-chart-container .org-item .org-content .media a:hover {
        text-decoration: underline; }
      body .org-chart-container .org-item .org-content .view-more-emp {
        font-size: 12px; }
        body .org-chart-container .org-item .org-content .view-more-emp:hover {
          text-decoration: underline; }
      body .org-chart-container .org-item .org-content h6 {
        display: table-cell;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 220px;
        font-weight: bold;
        display: block;
        cursor: default; }
      body .org-chart-container .org-item .org-content p {
        cursor: default;
        width: 170px; }
      body .org-chart-container .org-item .org-content .list-inline {
        overflow: hidden; }
        body .org-chart-container .org-item .org-content .list-inline li {
          float: left; }
          body .org-chart-container .org-item .org-content .list-inline li a {
            display: block; }
            body .org-chart-container .org-item .org-content .list-inline li a span {
              display: block;
              background: #dadce0;
              border-radius: 50%; }
    body .org-chart-container .org-item .states {
      position: absolute;
      top: -5px;
      background: #fff;
      left: 40px;
      display: none; }
      body .org-chart-container .org-item .states i {
        font-size: 18px;
        color: #f44336; }
    body .org-chart-container .org-item.stopped > .panel {
      opacity: 0.5; }
    body .org-chart-container .org-item.stopped > .states {
      display: block; }
    body .org-chart-container .org-item .connecter-top {
      position: absolute;
      background-color: white;
      top: -15px;
      left: 169px; }
      body .org-chart-container .org-item .connecter-top .line-top {
        width: 2px;
        height: 15px;
        background: #dadce0;
        display: block;
        margin: auto; }
      body .org-chart-container .org-item .connecter-top .line-hor {
        height: 2px;
        background: #dadce0;
        display: block;
        width: 100px;
        position: absolute;
        top: 0; }
    body .org-chart-container .org-item .connecter-bottom {
      text-align: center;
      width: 18px;
      position: absolute;
      bottom: -19px;
      left: 161px;
      height: 30px; }
      body .org-chart-container .org-item .connecter-bottom .expander {
        cursor: pointer;
        width: 18px;
        display: block;
        height: 15px;
        background: #fff;
        position: absolute;
        z-index: 1;
        top: 0;
        border-radius: 50%; }
        body .org-chart-container .org-item .connecter-bottom .expander i {
          color: #dadce0;
          display: block; }
        body .org-chart-container .org-item .connecter-bottom .expander:hover i {
          color: #2196f3; }
      body .org-chart-container .org-item .connecter-bottom .line {
        width: 2px;
        height: 15px;
        background: #dadce0;
        display: block;
        margin: auto;
        position: absolute;
        left: 8px;
        top: 8px; }
    body .org-chart-container .org-item .connecter-left {
      text-align: center;
      height: 18px;
      position: absolute;
      left: 15px;
      width: 30px;
      top: 41px; }
      body .org-chart-container .org-item .connecter-left .expander {
        cursor: pointer;
        width: 18px;
        display: block;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        top: 0;
        right: -9px; }
        body .org-chart-container .org-item .connecter-left .expander i {
          color: #dadce0;
          display: block; }
        body .org-chart-container .org-item .connecter-left .expander:hover i {
          color: #2196f3; }
      body .org-chart-container .org-item .connecter-left .line {
        height: 2px;
        width: 15px;
        background: #dadce0;
        display: block;
        margin: auto;
        position: absolute;
        left: 8px;
        top: 7px; }
    body .org-chart-container .org-item .connecter-top-left {
      position: absolute;
      top: 49px;
      left: 23px; }
      body .org-chart-container .org-item .connecter-top-left .line-hor {
        height: 2px;
        background: #dadce0;
        display: block;
        width: 22px;
        position: absolute;
        border-radius: 50%;
        top: 0; }
      body .org-chart-container .org-item .connecter-top-left .line-ver {
        width: 2px;
        background: #dadce0;
        display: block;
        margin: auto;
        bottom: 0px;
        position: absolute; }
      body .org-chart-container .org-item .connecter-top-left.l-7 {
        left: 20px; }
        body .org-chart-container .org-item .connecter-top-left.l-7 .line-hor {
          width: 27px; }
    body .org-chart-container .org-item .connecter-bottom-left {
      text-align: center;
      width: 18px;
      position: absolute;
      bottom: -20px;
      left: 52px;
      height: 30px; }
      body .org-chart-container .org-item .connecter-bottom-left .expander {
        cursor: pointer;
        width: 18px;
        display: block;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        top: 0; }
        body .org-chart-container .org-item .connecter-bottom-left .expander i {
          color: #dadce0;
          display: block; }
        body .org-chart-container .org-item .connecter-bottom-left .expander:hover i {
          color: #2196f3; }
      body .org-chart-container .org-item .connecter-bottom-left .line {
        width: 2px;
        height: 15px;
        background: #dadce0;
        display: block;
        margin: auto;
        position: absolute;
        left: 8px;
        top: 8px; }
