<div class="modal fade" id="mediaShareFolderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 350px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Chia sẽ folder</h5>
            </div>
            <div class="modal-body" style="overflow: hidden; padding: 15px">
                <p>Chức năng chia sẽ thư mục giúp người quản trị có thể chia sẽ những dữ liệu dùng chung cho người dùng.</p>
                <p>Khi folder được chia sẽ, người dùng có thể thấy thư mục này, cũng như tất cả các file, thư mục con trong mục chia sẽ ở trang quản lý thư viện ảnh.</p>
                <p>Đồng ý chia sẽ thư mục cho người dùng ?</p>
                <div class="pull-right">
                    <button class="btn btn-default m-r-5 btn-sm" type="button" data-dismiss="modal">Hủy</button>
                    <button class="btn btn-sm btn-info submitShareFolder">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>