@using  Web.Student.Helpers
@model Service.Core.Executes.Employees.Employees.EmployeeViewModel

<div class="panel panel-flat no-border no-margin-bottom" id="EmployeeSuggestion_panel"> 
    <div class="apply-table"></div>
    <div class="modal-footer mt-15 no-padding" style="">
        <button class="btn btn-sm btn-default" data-dismiss="modal"><i class="icon-x position-left"></i>Đóng</button>
        <button class="btn btn-sm btn-primary btn-select-option"><i class="icon-check position-left"></i>Chọn</button>
    </div>
</div>

 
<script src="~/assets/js/web/employee/employee-suggestions.js"></script>