<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="ServerDBContext" connectionString="metadata=res://*/Entities.ServerDBContext.csdl|res://*/Entities.ServerDBContext.ssdl|res://*/Entities.ServerDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3M63FU9\SQLEXPRESS;initial catalog=Original;persist security info=True;user id=mvb;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="ServerDBContexta" connectionString="metadata=res://*/Entities.ServerDBContext.csdl|res://*/Entities.ServerDBContext.ssdl|res://*/Entities.ServerDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3M63FU9\SQLEXPRESS;initial catalog=Original;persist security info=True;user id=ori;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
    <!--<add name="ServerDBContext" connectionString="data source=123.31.29.22;initial catalog=Document;persist security info=True;user id=doc;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

    <add name="ServerDBContext" connectionString="data source=10.84.0.32;initial catalog=TrinhKyVB;persist security info=True;user id=trinhky;password=TrinhKy@2021%!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>

  
  
  
  
  <!--<add name="ServerDBContext" connectionString="data source=10.84.0.32;initial catalog=TrinhKyVB;persist security info=True;user id=trinhky;password=TrinhKy@2021%!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->



  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
