@using  Web.Student.Helpers
@using  Web.Student.Models
@{
    var baseData = ViewData["BaseData"] as BaseData;
}

<div class="page-header page-header-default mb-15" style="">
    <div class="breadcrumb-line">
        <a class="breadcrumb-elements-toggle">
            <i class="icon-menu-open"></i>
        </a>
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    <i class="icon-home2 position-left"></i> Trang chủ
                </a>
            </li>
            @{
                var breadbrums = new BreadcrumbModel
                {
                    List = baseData.FeatureGroups
                }.Get(baseData.PathAndQuery);
                foreach (var b in breadbrums)
                {
                    <li><a href="@(b.Feature.ViewAction != "x" ? b.Feature.ViewAction : "#")">@b.Feature.SidebarName</a></li>
                }
            }
        </ul>
    </div>
</div>