
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Web/Layouts/Default.cshtml";
}

<div class="container">
	<div class="image color1 "></div>
	@*<div class="image color2 "></div>*@
</div>

<link href="~/assets/css/css.min.css" rel="stylesheet" />