.kpi-table {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  width: 100%; }
  .kpi-table thead tr th {
    color: #1a304a;
    background: #f7f8f9;
    padding: 5px 10px;
    vertical-align: middle;
    border: 1px solid #f1f2f4;
    font-weight: bold;
    text-align: center; }
  .kpi-table tbody tr td {
    border: 1px solid #f1f2f4;
    padding: 0; }
    .kpi-table tbody tr td span {
      padding: 10px;
      display: inline-block; }
    .kpi-table tbody tr td textarea {
      border: none;
      min-height: 80px;
      width: 100%;
      padding: 10px;
      text-align: left;
      font-size: 14px;
      vertical-align: top;
      line-height: 20px;
      overflow: hidden;
      resize: none; }
      .kpi-table tbody tr td textarea:disabled {
        background: #f7f8f9;
        cursor: no-drop; }
    .kpi-table tbody tr td.edit {
      border: 2px solid #4688ff !important; }
    .kpi-table tbody tr td .btn-delete {
      border: none;
      padding: 0;
      width: 20px;
      height: 20px; }
    .kpi-table tbody tr td:first-child {
      text-align: center; }
  .kpi-table tbody tr .btn-add-child {
    width: 20px;
    height: 20px;
    padding: 5px 3px;
    vertical-align: middle;
    margin: 10px 0 0 3px;
    font-size: 10px;
    float: left;
    border: none;
    background: #fff; }
    .kpi-table tbody tr .btn-add-child i {
      font-size: 12px;
      color: #4688ff; }
    .kpi-table tbody tr .btn-add-child:hover {
      background: #4688ff; }
      .kpi-table tbody tr .btn-add-child:hover i {
        color: #fff !important; }
  .kpi-table tbody tr.tr-lv1 td {
    background: #e5f2ff;
    font-weight: normal;
    border-color: #e5f2ff;
    color: #0277e7;
    font-size: 15px;
    font-weight: bold; }
  .kpi-table tbody tr.tr-lv2 td {
    position: relative;
    border: none;
    padding: 5px; }
    .kpi-table tbody tr.tr-lv2 td span {
      color: #1a304a;
      float: left;
      font-size: 15px;
      font-weight: bold; }
  .kpi-table tbody tr.tr-total td {
    color: #ef5350;
    background: #fbe9e7;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-color: #fbe9e7;
    text-align: center; }
