.kpi-panel .select-year {
  font-size: 35px;
  border-radius: 5px;
  padding: 0 8px;
  font-weight: bold;
  border-color: #dfdfdf; }

.kpi-panel .panel-group-control .panel-heading .panel-title > a {
  font-size: 13px; }

.kpi-panel .heading-elements {
  background-color: inherit;
  position: absolute;
  top: 24px;
  right: 20px;
  height: 36px;
  margin-top: 0;
  z-index: 1; }
  .kpi-panel .heading-elements .btn {
    margin-left: 10px; }

.kpi-panel .panel-kpi-info {
  background: #f4f9fc !important;
  border: 2px solid #e9f2f8 !important; }

.kpi-panel .table-status tbody td.td-group {
  background: #fbfbfb;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.kpi-table {
  position: relative;
  color: #1a304a;
  font-size: 13px; }
  .kpi-table .area {
    position: absolute;
    overflow: hidden; }
    .kpi-table .area.area-tl {
      top: 0;
      left: 0;
      z-index: 5; }
      .kpi-table .area.area-tl > div {
        overflow-x: auto;
        overflow-y: hidden; }
    .kpi-table .area.area-tr {
      top: 0;
      right: 0;
      z-index: 4; }
      .kpi-table .area.area-tr > div {
        overflow-x: auto;
        overflow-y: scroll; }
    .kpi-table .area.area-bl {
      bottom: 0;
      left: 0;
      z-index: 3; }
      .kpi-table .area.area-bl > div {
        overflow-y: auto;
        overflow-x: scroll;
        padding-bottom: 0; }
    .kpi-table .area.area-br {
      bottom: 0;
      right: 0;
      z-index: 1; }
      .kpi-table .area.area-br > div {
        overflow-y: auto;
        overflow-x: auto; }
  .kpi-table .buffer-bl {
    background: #f1f1f1;
    bottom: 0;
    height: 17px;
    position: absolute;
    z-index: 6; }
  .kpi-table .resize-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    cursor: col-resize; }
    .kpi-table .resize-bar:before {
      position: absolute;
      content: "";
      left: 0;
      background: #ddd;
      bottom: 0;
      z-index: 1;
      width: 2px;
      top: 0; }
  .kpi-table h3 {
    margin: 0; }
  .kpi-table .table {
    table-layout: fixed;
    margin-bottom: 0; }
    .kpi-table .table tr th {
      padding: 5px;
      height: 27px;
      text-align: center;
      border-color: #f1f2f4;
      font-weight: bold;
      color: #1a304a;
      background: #f7f8f9;
      position: relative; }
      .kpi-table .table tr th .tu {
        text-transform: uppercase;
        font-size: 11px; }
      .kpi-table .table tr th .tn {
        font-weight: normal;
        font-size: 11px; }
      .kpi-table .table tr th .resize-x {
        position: absolute;
        top: 0 !important;
        bottom: 0;
        right: -10px;
        width: 20px;
        z-index: 1;
        cursor: pointer;
        vertical-align: middle; }
        .kpi-table .table tr th .resize-x i {
          display: none;
          position: absolute;
          top: 20%;
          left: -2px; }
        .kpi-table .table tr th .resize-x:hover i {
          display: block; }
      .kpi-table .table tr th .btn-expand-quarter, .kpi-table .table tr th .btn-narrow-quarter {
        padding: 0 7px;
        position: absolute;
        right: 0;
        top: 2px; }
        .kpi-table .table tr th .btn-expand-quarter i, .kpi-table .table tr th .btn-narrow-quarter i {
          font-size: 13px; }
        .kpi-table .table tr th .btn-expand-quarter:hover, .kpi-table .table tr th .btn-narrow-quarter:hover {
          background: rgba(0, 0, 0, 0.2); }
    .kpi-table .table tr td {
      text-align: center;
      position: relative;
      vertical-align: top;
      padding: 0;
      height: 27px;
      line-height: 18px;
      border: 1px solid #f1f2f4; }
      .kpi-table .table tr td > span {
        padding: 5px 10px;
        display: inline-block; }
        .kpi-table .table tr td > span.resize-height {
          overflow-y: auto; }
      .kpi-table .table tr td .select2-container {
        overflow-y: auto; }
        .kpi-table .table tr td .select2-container .select2-choices {
          min-height: 82px;
          border-radius: 2px;
          border: none;
          overflow: auto;
          background-image: none !important; }
          .kpi-table .table tr td .select2-container .select2-choices .select2-search-choice {
            text-transform: capitalize; }
      .kpi-table .table tr td textarea {
        resize: none;
        width: 100%;
        padding: 5px;
        cursor: cell;
        border: none;
        border-radius: 0;
        box-shadow: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .kpi-table .table tr td textarea.vertical-center {
          display: inline-block;
          height: 80px;
          vertical-align: middle;
          line-height: 70px;
          text-align: center;
          overflow: hidden; }
        .kpi-table .table tr td textarea:read-only {
          background: #fff; }
        .kpi-table .table tr td textarea.hover-modal {
          cursor: pointer; }
        .kpi-table .table tr td textarea:disabled, .kpi-table .table tr td textarea.disabled {
          background: #f7f8f9;
          cursor: no-drop; }
      .kpi-table .table tr td.disabled {
        background: #f7f8f9;
        cursor: no-drop; }
        .kpi-table .table tr td.disabled textarea:read-only {
          background: #f7f8f9; }
      .kpi-table .table tr td.has-error textarea {
        border-color: #C62828;
        -webkit-box-shadow: inset 0 1px 5px #C62828;
        box-shadow: inset 0 1px 5px #C62828; }
        .kpi-table .table tr td.has-error textarea:focus {
          -webkit-box-shadow: none;
          box-shadow: none; }
      .kpi-table .table tr td.has-error select {
        border: 1px solid #C62828 !important; }
        .kpi-table .table tr td.has-error select:focus {
          -webkit-box-shadow: none;
          box-shadow: none; }
      .kpi-table .table tr td .btn-float {
        padding: 5px 16px; }
      .kpi-table .table tr td select {
        padding: 0px;
        border: none;
        box-shadow: none; }
        .kpi-table .table tr td select:hover {
          border: 1px solid #ddd; }
      .kpi-table .table tr td:first-child .btn-expand {
        padding: 0px;
        height: 20px;
        width: 20px; }
        .kpi-table .table tr td:first-child .btn-expand i {
          font-size: 20px;
          margin-left: -2px;
          margin-top: -2px; }
      .kpi-table .table tr td:first-child .btn-delete {
        border: none;
        padding: 0;
        width: 20px;
        height: 20px; }
      .kpi-table .table tr td .btn-add-child {
        width: 20px;
        height: 20px;
        padding: 3px 3px;
        vertical-align: middle;
        margin: 3px 0 0 3px;
        font-size: 10px;
        float: left;
        border: none;
        background: none; }
        .kpi-table .table tr td .btn-add-child i {
          font-size: 12px;
          color: #4688ff; }
        .kpi-table .table tr td .btn-add-child:hover {
          background: #4688ff; }
          .kpi-table .table tr td .btn-add-child:hover i {
            color: #fff !important; }
      .kpi-table .table tr td .btn-show-modal {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background: #fff;
        opacity: 0.5;
        padding: 3px 7px !important;
        z-index: 1; }
        .kpi-table .table tr td .btn-show-modal i {
          font-size: 13px; }
        .kpi-table .table tr td .btn-show-modal:hover {
          background: #4688ff;
          opacity: 1; }
          .kpi-table .table tr td .btn-show-modal:hover i {
            color: #fff; }
      .kpi-table .table tr td .l1, .kpi-table .table tr td .l2, .kpi-table .table tr td .l3, .kpi-table .table tr td .l4 {
        position: absolute;
        content: "";
        background: #1e88e5;
        display: none;
        padding: 0;
        z-index: 1; }
      .kpi-table .table tr td .l1 {
        top: -1px;
        left: -1px;
        right: -1px;
        height: 2px; }
      .kpi-table .table tr td .l2 {
        top: -1px;
        bottom: -1px;
        right: -1px;
        width: 2px; }
      .kpi-table .table tr td .l3 {
        left: -1px;
        bottom: -1px;
        right: -1px;
        height: 2px; }
      .kpi-table .table tr td .l4 {
        left: -1px;
        bottom: -1px;
        top: -1px;
        width: 2px; }
      .kpi-table .table tr td.edit {
        position: relative; }
        .kpi-table .table tr td.edit .l1, .kpi-table .table tr td.edit .l2, .kpi-table .table tr td.edit .l3, .kpi-table .table tr td.edit .l4 {
          display: block; }
        .kpi-table .table tr td.edit.has-error .l1, .kpi-table .table tr td.edit.has-error .l2, .kpi-table .table tr td.edit.has-error .l3, .kpi-table .table tr td.edit.has-error .l4 {
          background: #C62828; }
      .kpi-table .table tr td:disabled {
        background: #f7f8f9;
        cursor: no-drop; }
      .kpi-table .table tr td .resize-y {
        position: absolute;
        bottom: 0;
        height: 10px;
        left: 0 !important;
        right: 0 !important;
        cursor: n-resize;
        background: #f5f5f5; }
      .kpi-table .table tr td .text-label {
        padding: 5px 10px;
        text-align: left;
        float: left;
        line-height: 18px; }
      .kpi-table .table tr td:hover .btn-show-modal {
        display: block; }
      .kpi-table .table tr td .uploader {
        padding: 5px;
        display: inline-block; }
        .kpi-table .table tr td .uploader .filename {
          display: none; }
        .kpi-table .table tr td .uploader .file-attach {
          top: 10px; }
        .kpi-table .table tr td .uploader .btn {
          border: none;
          display: inline-block;
          width: 100%;
          border-radius: 5px; }
          .kpi-table .table tr td .uploader .btn:hover {
            border: 1px solid #ddd; }
    .kpi-table .table tr.tr-tongket td {
      padding: 1px;
      background: #DC6788;
      font-weight: bold; }
    .kpi-table .table tr.tr-parent td input {
      padding: 2px 6px;
      height: 26px;
      cursor: cell;
      border-radius: 0;
      border: none;
      box-shadow: unset; }
    .kpi-table .table tr.tr-parent td .btn-expand {
      background: none;
      color: #051d39; }
    .kpi-table .table tr.tr-parent.tr-parent-1 td {
      background: #e5f2ff;
      font-weight: normal;
      border-color: #bcddff;
      color: #0277e7;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
      padding: 0 !important; }
      .kpi-table .table tr.tr-parent.tr-parent-1 td input {
        border: none;
        background: #e5f2ff;
        height: 37px;
        text-align: center; }
      .kpi-table .table tr.tr-parent.tr-parent-1 td span {
        padding: 10px !important; }
      .kpi-table .table tr.tr-parent.tr-parent-1 td .btn-add-child {
        margin-top: 10px !important; }
      .kpi-table .table tr.tr-parent.tr-parent-1 td.has-error input {
        -webkit-box-shadow: inset 0 1px 5px #c62828;
        box-shadow: inset 0 1px 5px #c62828; }
    .kpi-table .table tr.tr-total td {
      color: #ef5350;
      background: #fbe9e7;
      padding: 10px;
      font-size: 15px;
      font-weight: bold;
      border-color: #fbe9e7;
      text-align: center; }
      .kpi-table .table tr.tr-total td span {
        padding: 0 10px !important; }
    .kpi-table .table tr.modify-new td {
      background: #fff8ce; }
      .kpi-table .table tr.modify-new td .resize-y {
        background: #ffec72; }
      .kpi-table .table tr.modify-new td textarea, .kpi-table .table tr.modify-new td select {
        background: #fff8ce; }
      .kpi-table .table tr.modify-new td.disabled {
        background: #e8e8e8 !important; }
    .kpi-table .table tr .form-control[disabled], .kpi-table .table tr fieldset[disabled] .form-control {
      background: #f7f8f9;
      cursor: no-drop; }
  .kpi-table.personal .area.area-bl {
    bottom: 0; }
    .kpi-table.personal .area.area-bl > div {
      overflow-y: scroll;
      overflow-x: hidden;
      padding-bottom: 0; }
  .kpi-table.personal th {
    line-height: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px; }
  .kpi-table.personal td {
    padding: 0; }
    .kpi-table.personal td textarea {
      border: none;
      border-radius: 0; }
  .kpi-table.personal .tr-parent-1 td {
    background: #e5f2ff;
    font-weight: normal;
    border-color: #e5f2ff;
    color: #0277e7;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold; }
  .kpi-table.personal .tr-org {
    position: relative;
    border: none;
    padding: 5px; }
    .kpi-table.personal .tr-org td {
      border: none; }
      .kpi-table.personal .tr-org td .icon-circle-small {
        position: absolute;
        top: 6px;
        left: 28px; }
    .kpi-table.personal .tr-org span {
      color: #1a304a;
      font-size: 14px;
      font-weight: bold; }
  .kpi-table .loading {
    position: absolute;
    left: 50%;
    top: 100px;
    opacity: 1;
    z-index: 5;
    width: 36px;
    padding: 7px;
    border: 1px solid #dfdfdf;
    height: 36px;
    background: #fff;
    border-radius: 50%; }
    .kpi-table .loading i {
      font-size: 20px;
      color: #2196f3 !important; }
